DEBUG=True # False for prod
ALLOWED_HOSTS=127.0.0.1, localhost
SECRET_KEY=django-insecure-*u4*)fdablf@xe3x)w^^=357(@nvrj=*mpe#1xo26p3*y4u-dd # example
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
