aioimaplib==1.1.0
asgiref~=3.8.1
black @ git+https://github.com/psf/black
celery==5.4.0
channels~=4.0.0
channels-redis~=4.1.0
daphne~=4.0.0
django==5.0.7
djangorestframework~=3.14
flake8~=7.1.0
psycopg2-binary==2.9.3
python-decouple==3.8