<!DOCTYPE html>
<html>
<head>
    <title>Интеграция почтовых сообщений</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                        <div class="helptext">{{ field.help_text }}</div>
                    {% endif %}
                    {% if field.errors %}
                        <div class="error">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Получить письма</button>
        </form>
    </div>
</body>
</html>
