<!DOCTYPE html>
<html>
<head>
    <title>Интеграция почтовых сообщений</title>
</head>
<body>
    <h1>Введите данные от своей электронной почты</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </p>
        <p>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </p>
        <button type="submit">Сохранить</button>
    </form>
    {% if form.errors %}
    <div class="error">
        {% for field, errors in form.errors.items %}
            <p>{{ field }}: {{ errors|join:", " }}</p>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>
