<!DOCTYPE html>
<html>
<head>
    <title>Список электронных писем</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/email_list_styles.css' %}">
    <script src="{% static 'assets/js/email_list.js' %}"></script>
</head>
<body>
    <div class="header-container">
        <h1>Список электронных писем</h1>
        <button onclick="return closeWebSocketAndNavigate();">Вернуться к стартовой странице</button>
    </div>
    <div id="error-container">
        <div id="error-message" class="error"></div>
    </div>
    <div id="progress-bar-container">
        <div id="progress-bar">Чтение сообщений</div>
    </div>
    <table id="email-table" border="1">
        <thead>
            <tr>
                <th>Тема сообщения</th>
                <th>Отправитель</th>
                <th>Дата отправки</th>
                <th>Дата получения</th>
                <th>Текст сообщения</th>
                <th>Вложения</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
